body {
    background:#1e1e1e;
    color: #9cdcfe;
    cursor: url(https://cur.cursors-4u.net/holidays/hol-3/hol278.cur), auto !important;
  }

  html {
    font-size: 15px;
    font-family: sans-serif;
  }
  
  li {
    line-height: 100%;
    padding: 20px 10px;
  }
  
  .enabled {
    font-weight: bold;
  } 
  .disabled {
  color: gray;
  text-decoration: line-through
  }
